{% extends "base.html.twig" %}
{% block body %}
    <div>
        <div>
            {% for comment in comments %}
                <p>
                    <div class="list-group-item" style="background: {{ comment.moderated  ? '#fff' : '#ccc' }}">
                        <h4 class="list-group-item-heading">
                        <a><img src="" class="img-responsive img-circle" alt="image" width="55" height="55"></a>
                            <i class="text-success"><strong>{{ comment.id }} ) </strong></i> {{- comment.userName -}}
                            <span class="text-muted"> ({{ comment.userEmail }})</span>
                            {{ comment.createdAt|date('d-m-Y H:i:s') }}
                            <div class="pull-right text-danger">
                                {% if comment.moderated %}
                                    {% set flag = 1 %}
                                    <a href="{{ path('edit', {'id': comment.id, 'action': 'hide'}) }}" class="btn text-primary btn-lg"><span class="glyphicon glyphicon-eye-close"></span></a>
                                {% else %}
                                    {% set flag = 0 %}
                                    <a href="{{ path('edit', {'id': comment.id, 'action': 'publish'}) }}"  class="btn text-success btn-lg"><span class="glyphicon glyphicon-ok-circle"></span></a>
                                {% endif %}
                                <a href="{{ path('delete', {'id': comment.id }) }}" class="btn text-danger btn-lg"><span class="glyphicon glyphicon-remove-circle"></span></a>
                            </div>
                        </h4>
                        <p class="list-group-item-text text-{{ flag == 1 ? 'muted' : 'primary' }}">{{ comment.comment|raw }}</p>
                    </div>
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="navigation text-success text-center" style="font-size:35px">
        {{ knp_pagination_render(comments) }}
    </div>
{% endblock %}