{% extends "::base.html.twig" %}
{% block body %}
    {% if sort == 'desc' %}
        {% set order = 'asc' %}
    {% else %}
        {% set order = 'desc' %}
    {% endif %}
    <a href="{{ path('list', {'sort': order}) }}" class="btn btn-default">by date
        <span class="glyphicon glyphicon-menu-{{ sort == 'desc' ? 'down' : 'up' }}" aria-hidden="true"></span>
    </a>
    {% for comment in comments %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                {% if comment.avatar is empty %}
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {% else %}
                    <img src="/avatar_user/avatar/{{ comment.avatar }}" class="img-responsive img-circle" alt="image" width="55" height="55">
                {% endif %}
                {{ loop.index }}) {{ comment.userName }}
                <span class="text-muted"> ({{ comment.userEmail }})</span>
                <div class="pull-right text-muted">
                    {{ comment.createdAtAsDate|date('d-m-Y H:i:s') }}
                </div>
            </h4>
            <p class="list-group-item-text text-info">{{ comment.comment|raw }}</p>
        </div>
    {% endfor %}
    <div class="navigation text-success text-center" style="font-size:35px">
        {{ knp_pagination_render(comments) }}
    </div>
    <div>
        <span class="pull-right">
            <a data-target="#answer-modal" data-toggle="modal" style="position: fixed; bottom: 50px; right: 50px"
               class="btn btn-danger" href="{{ path('add') }}">Add comment</a>
        </span>
    </div>
    <div class="modal fade" id="answer-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">loading...</div>
        </div>
    </div>
{% endblock %}