{% if added %}
    <h2>Комментарий добавлен и будет отображен после модерации менеджером</h2>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $('#answer-modal').modal('hide');
                setTimeout(function(){
                    $('#answer-modal').find('.hidden').removeClass('hidden');
                    $('#answer-modal').find('h2').addClass('hidden');
                }, 1000);
            }, 3000);
        });
    </script>
    <div class="hidden">
{% endif %}

    {{ form_start(form, {'attr': {'id': 'comment'} }) }}
        <div class="modal-header">
            <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">adding new comment</h4>
        </div>
        <div class="modal-body text-info">
            {{ form_row(form.userName, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.userEmail, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.avatar, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.comment, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="modal-footer">
            {{ form_row(form.send) }}
        </div>
    {{ form_end(form) }}

    <script>
        $(document).ready(function() {
            var files;
            $('#{{ form.avatar.vars.id }}').on('change', function(event) {
                files = event.target.files;
            });
            $('#comment').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                var data = new FormData();
                data.append('{{ form.userName.vars.full_name }}', $('#{{ form.userName.vars.id }}').val());
                data.append('{{ form.userEmail.vars.full_name }}', $('#{{ form.userEmail.vars.id }}').val());
                data.append('{{ form.comment.vars.full_name }}', $('#{{ form.comment.vars.id }}').val());
                data.append('{{ form._token.vars.full_name }}', $('#{{ form._token.vars.id }}').val());

                $.each(files, function(key, value) {
                    data.append('{{ form.avatar.vars.full_name }}', value);
                });

                $.ajax({
                    url: $(this).prop('action'),
                    type: 'POST',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('#answer-modal').find('.modal-content').html(response);
                    }
                });
                return false;
            });
        });
    </script>

{% if added %}
</div>
{% endif %}